/* SearchBar.css */

.search-bar-container {
  margin: 20px 0;
  text-align: center;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #004d40;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #49EACB;
  color: #231F20;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
}

button:hover {
  background-color: #70C7BA;
}
