/* TransactionList.css */

.table-container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #004d40;
  text-align: center;
}

th {
  background-color: #70C7BA;
  color: #231F20;
  font-family: 'Oswald', sans-serif;
}

td.amount {
  text-align: right;
  vertical-align: middle;
}

td.amount img {
  margin-left: 5px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #263238;
}

tr:nth-child(odd) {
  background-color: #1b1b1b;
}

@media (max-width: 600px) {
  table, th, td {
    font-size: 0.8em;
  }
}
